@media screen and (max-width:1000px) and (orientation:landscape) {
    
     /* ---------- BODY -------- */

     #container {
        width: 90%;
    }

    .containerBoxImg{
        width: 100%;
        height: auto;
        margin: 25px 0px;
    }
  
    #containerBoxImg{
        display: block;
        
    }

    

    /* ---------- BODY -------- */

}