
/* Sintaxe */
@media screen and (max-width: 500px) and (orientation:portrait){
    /* MAX WIDTH = Tela menores que alguma resolução */
    #ulLeft{
        width: 50%;
        height: auto;
        text-align: center;
        font-size: 25px;
        float: left;
        margin-left: 20px;
    }

    #ulLeft li{
        list-style-type: none;
    }
    #ulRight{
        width: auto ;
        height: auto;
        border: 2px solid white;
        padding: 10px 15px 10px 15px;
        margin-left: 25%;
    }
    #ulRight li{
        display: none;
    } 
    
    #ulRight p{
        display:contents;
    
}